.curr-light::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: #ef4444;
    transition: all 0.5s;
    transition-timing-function: linear;
}

.under-light::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ef4444;
    transition: all 0.5s;
    transition-timing-function: linear;
}

.under-light:hover::before{
    width: 50%;
}

.curr-dark::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
    transition-timing-function: linear;
}

.under-dark::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
    transition-timing-function: linear;
}

.under-dark:hover::before{
    width: 50%;
}