.custom-shape-divider {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -5px;
}

.custom-shape-divider svg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
}